# Logs
*.log
.idea
.git

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dependencies
/node_modules

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
