@import "~bootstrap/scss/bootstrap-utilities"

.switch
	position: relative
	min-width: 26px
	min-height: 26px
	transition: transform .3s ease
	&:hover
		transform: scale(1.1)
.switch__input 
	opacity: 0

.switch__label 
	position: absolute 
	left: 0
	width: 26px
	height: 26px
	border-radius: 50px 
	background-repeat: no-repeat
	cursor: pointer