@import "~bootstrap/scss/bootstrap-utilities"

.edit-modal
  .modal-header
    .btn-close
      width: 20px
      height: 20px
      padding: 0
      background: none
      border-radius: 0
      opacity: 1

[data-theme="dark"]
  
  .modal-open
    .popover
      max-width: 230px
      box-shadow: 0 0 5px #000
      border-radius: 10px
      border-color: transparent
    .popover-header,
    .popover-body
      padding: 5px 10px
      border-radius: 0
      background: none
    .popover-body
      font-size: 12px

  @include media-breakpoint-down(sm)

    .modal-open .popover
      max-width: 200px

    .modal-header,
    .modal-content,
    .modal-footer
      border-color: $dark
    .modal-content
      background-color: $dark
      color: $light