.sound-switcher
	.switch__label
		background-color: #E30E0E
		background-position: 0 0
		background-repeat: no-repeat
		background-image: url('../../icons/SoundOff.svg')

	.switch__input
		&:checked
			~ .switch__label
					background-color:#008A1C
					background-image: url('../../icons/SoundOn.svg')