@import '~bootstrap/scss/bootstrap';

.timer
  border-radius: 10px
  background-color: $light
  box-shadow: 0 0 5px 1px $gray-700
  color: $black
  &-title
    font-weight: bold

.timer-big
  display: flex
  flex-direction: column
  align-items: center
  font-weight: bold
  height: 100%
  background-color: $gray-200
  border-radius: 10px
  &__text
    color: $black
    text-transform: uppercase
    font-size: 1.5vw
  &__count
    font-size: 12vw
    color: $black

.full-time
  background-color: $red
  &__rest
    background-color: $blue
  &__prepare
    background-color: $yellow
  &__round
    background-color: $green
  &__warning
    background-color: darken($orange, 10%)
  &__default
    background-color: $red
  .timer-big__text
    color: $light
  .timer-big__count
    color: $light

.timer-small
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  flex: 1
  height: 100px
  margin-right: 15px
  background-color: $gray-200
  border-radius: 10px
  &:last-child
    margin-right: 0
  &__text
    font-size: .8vw
    text-align: center
    text-transform: uppercase
    color: $black
  &__count
    font-weight: bold
    font-size: 1.5vw
    color: $black

.btn
  width: 150px
  height: 50px
  text-transform: uppercase
  letter-spacing: 2px

.timer-list
  background-color: $gray-200
  &__item
    color: $black