@import '~bootstrap/scss/bootstrap'

.lang-switcher
  border-radius: 30%
  &__toggler
    width: 26px
    height: 26px
    border-radius: 50%
    padding: 0
    border: 0
    opacity: 1
    transition: opacity .5s ease
    overflow: hidden
    &::after
      display: none
    &:hover
      opacity: .6
  &__flag
    width: 26px
    height: 26px
  
  &.show .lang-switcher__toggler
    opacity: .6
  
  .dropdown-menu
    padding: 0
    border: 2px solid rgba(255, 255, 255, .15)
    border-radius: 10px
    .switcher-flag
      width: 20px
      height: 20px
      margin-right: 10px

  .switcher-title
    line-height: 0
  .dropdown-item
    padding: 10px
  .btn-primary.dropdown-toggle:focus
    box-shadow: none

.switcher-flag
    width: 100%
    height: 100%
    transform: scale(1.5)

@include media-breakpoint-down(sm)

[data-theme="dark"]

  .lang-switcher
    &__toggler
      background-color: $black
      &::after
        border-top-color: $light
    &.show
      .lang-switcher__toggler,
      .dropdown-menu
        background-color: $black

    .switcher-title
      color: $light
    .dropdown-toggle
      &:hover
        background-color: none
    .dropdown-item
      &:focus
        background-color: transparent
      &:hover
        background-color: $light
        .switcher-title
          color: $black