@import "~bootstrap/scss/bootstrap-utilities"

.edit-form
  .form-control
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
    &[type=number]
      -moz-appearance: textfield
  .form-control,
  .input-group-text
    background-color: transparent
  .input-group-text
    flex-grow: 3
    flex-basis: 300px
    margin-right: 5px
    border: 0
  .form-control
    flex-grow: 1
    &:focus
      background-color: transparent
  .edit-form__group
    align-items: center

  .input-group-text
    &.rounds
      flex-basis: 130px

  &__total
    font-weight: bold
    font-size: 1.2vw
    text-transform: uppercase

.edit-form__group
  align-items: center
  .form-control
    text-align: center