@import "~bootstrap/scss/bootstrap-utilities"

body
  background-color: $gray-300

.App
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  color: $light

// Dark Theme
[data-theme="dark"]
  background-color: $black

  .App
    background-color: $black

  .ico
    fill: $light

body:not([data-theme="dark"])
  .ico
    fill: $dark
  .timer-list
    text-shadow: 1px 0px 1px rgba(255, 255, 255, .5)
    background-color: #e9ecef;

.pre-wrapper
  display: none
  opacity: 0
  z-index: 0

@include media-breakpoint-down(lg)

  .App
    padding-top: 20px
    justify-content: start
    height: 100%