@import "~bootstrap/scss/bootstrap-utilities"

.App
  display: flex
  justify-content: center
  align-items: center
  background-color: $black
  color: $light

// Dark Theme
[data-theme="dark"]
  background-color: $black