
@include media-breakpoint-down(xxl)

  .timer-big
    &__text
      font-size: 2vw

  .timer-small
    &__count
      font-size: 1.8vw
    &__text
      font-size: 1.2vw

@include media-breakpoint-down(xl)

  .edit-form
    &__total
      font-size: 2vw

  .timer-small
    &__count
      font-size: 1.8vw
    &__text
      font-size: 1.4vw

@include media-breakpoint-down(lg)

  .timer-list
    width: auto

  .edit-form
    &__total
      font-size: 3vw

  .timer-small
    &__count
      font-size: 2vw
    &__text
      font-size: 1.2vw

  .edit-form
    &__total
      font-size: 1.5vw

@include media-breakpoint-down(md)

  .edit-form
    &__total
      font-size: 3vw

  .timer-big
    &__count
      font-size: 15vw
    &__text
      font-size: 2.5vw

@include media-breakpoint-down(sm)

  .btn
    font-size: 3vw
    letter-spacing: 1px

  .edit-form
    &__total
      font-size: 3.5vw
    .input-group-text
      flex-basis: 130px

  .timer-big
    &__text
      font-size: 3.5vw

  .switch__label::before, 
  .switch__label::after
    font-weight: 1vw

@include media-breakpoint-down(xs)